-# .d-flex.bd-highlight.bg-light.header
-#   .p-2.pl-5.flex-grow-1.bd-highlight.title My Profile
-#   .p-3.bd-highlight.m-auto.top_page
-#     %a{:href => "#"} TOP
-#   .p-3.bd-highlight.m-auto.log_out
-#     %a{:href => "#"} ログアウト
-#   %span.nav_toggle
-#     %i
-#     %i
-#     %i
-#   %nav.nav
-#     %ul.nav_menu_ul.d-flex
-#       %li.nav_menu_li
-#         %a{:href => "#"} TOP
-#       %li.nav_menu_li.ml-3.mr-2
-#         %a{:href => "#"} ログアウト



-#   ユーザー表示、リンクテスト 仮置き
- @user.each do |user|   
  - if user.profile.present?
    = link_to users_path(id: user.id) do
      = user.nickname


= link_to "ログアウト",destroy_user_session_path, method: :delete #ログアウト 仮置き
- if current_user.profile.present?  #ログインユーザーがプロフページを持っているか(有料会員か？)
  = link_to "マイページ",users_path(id: current_user.id)  #マイページへのリンク 仮置き
.TopPage
  .TopPage--container.row
    .TopPage--container__center.col-lg-8.col-md-12
      .wrap-content.row
        .large-content.col-lg-12.col-md-12.col-sm-12.col-xs-12
          .large-photo
            画像( 720 × 480 )
          .large-text
            テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
      .wrap-content.row
        .middle-content.col-lg-4.col-md-4.col-xs-6
          .middle-photo
            画像( 220 × 147 )
          .middle-text
            テキストテキストテキストテキストテキストテキストテキストテキストテキスト
        .middle-content.col-lg-4.col-md-4.col-xs-6
          .middle-photo
            画像( 220 × 147 )
          .middle-text
            テキストテキストテキストテキストテキストテキストテキストテキストテキスト
        .middle-content.col-lg-4.col-md-4.col-xs-6
          .middle-photo
            画像( 220 × 147 )
          .middle-text
            テキストテキストテキストテキストテキストテキストテキストテキストテキスト
        .middle-content.col-lg-4.col-md-4.col-xs-6
          .middle-photo
            画像( 220 × 147 )
          .middle-text
            テキストテキストテキストテキストテキストテキストテキストテキストテキスト
        .middle-content.col-lg-4.col-md-4.col-xs-6
          .middle-photo
            画像( 220 × 147 )
          .middle-text
            テキストテキストテキストテキストテキストテキストテキストテキストテキスト
        .middle-content.col-lg-4.col-md-4.col-xs-6
          .middle-photo
            画像( 220 × 147 )
          .middle-text
            テキストテキストテキストテキストテキストテキストテキストテキストテキスト
      .wrap-content.row
        .small-content.col-lg-3.col-md-3.col-xs-4
          .small-photo
            画像( 160 × 107 )
          .small-text
            テキストテキストテキストテキストテキストテキスト
        .small-content.col-lg-3.col-md-3.col-xs-4
          .small-photo
            画像( 160 × 107 )
          .small-text
            テキストテキストテキストテキストテキストテキスト
        .small-content.col-lg-3.col-md-3.col-xs-4
          .small-photo
            画像( 160 × 107 )
          .small-text
            テキストテキストテキストテキストテキストテキスト
        .small-content.col-lg-3.col-md-3.col-xs-4
          .small-photo
            画像( 160 × 107 )
          .small-text
            テキストテキストテキストテキストテキストテキスト
        .small-content.col-lg-3.col-md-3.col-xs-4
          .small-photo
            画像( 160 × 107 )
          .small-text
            テキストテキストテキストテキストテキストテキスト
        .small-content.col-lg-3.col-md-3.col-xs-4
          .small-photo
            画像( 160 × 107 )
          .small-text
            テキストテキストテキストテキストテキストテキスト
        .small-content.col-lg-3.col-md-3.col-xs-4
          .small-photo
            画像( 160 × 107 )
          .small-text
            テキストテキストテキストテキストテキストテキスト
        .small-content.col-lg-3.col-md-3.col-xs-4
          .small-photo
            画像( 160 × 107 )
          .small-text
            テキストテキストテキストテキストテキストテキスト
    .TopPage--container__right.col-lg-4.col-md-12
      .promotions
        .promotion
          PR画像
        .promotion
          PR画像
      .rankings
        .h4 アクセスランキング
        .ranking ranking
        .ranking ranking
        .ranking ranking
        .ranking ranking
        .ranking ranking
      .new-arrivals
        .h4 新着 
        .new-arrival new-arrival
        .new-arrival new-arrival
        .new-arrival new-arrival
        .new-arrival new-arrival
        .new-arrival new-arrival