.d-flex.bd-highlight.bg-light.header
  .p-2.pl-5.flex-grow-1.bd-highlight.title My Profile
  .p-3.bd-highlight.m-auto.top_page
    %a{:href => "#"} TOP
  .p-3.bd-highlight.m-auto.log_out
    %a{:href => "#"} ログアウト
  %span.nav_toggle
    %i
    %i
    %i
  %nav.nav
    %ul.nav_menu_ul.d-flex
      %li.nav_menu_li
        %a{:href => "#"} TOP
      %li.nav_menu_li.ml-3.mr-2
        %a{:href => "#"} ログアウト

.TopPage
  .TopPage--container.row
    .TopPage--container__left.col-md-2
      .h3 ジャンル
      .genres
        .genre genre
        .genre genre
        .genre genre
        .genre genre
        .genre genre
        .genre genre
        .genre genre
        .genre genre
        .genre genre
        .genre genre
        .genre genre
        .genre genre
        .genre genre
    .TopPage--container__center.col-md-8
      .wrap-content
        .learge-content
      .wrap-content
        .middle-content 1
        .middle-content 2
        .middle-content 3
        .middle-content 4
      .wrap-content
        .small-content 1
        .small-content 2
        .small-content 3
        .small-content 4
        .small-content 5
        .small-content 6
        .small-content 7
        .small-content 8
    .TopPage--container__right.col-md-2
      .h3 新着 
      .new-arrivals
        .new-arrival new-arrival
        .new-arrival new-arrival
        .new-arrival new-arrival
        .new-arrival new-arrival
        .new-arrival new-arrival
      .h3 ランキング
      .rankings
        .ranking ranking
        .ranking ranking
        .ranking ranking
        .ranking ranking
        .ranking ranking