.jumbotron.jumbotron-fluid.p-4
  .container
    -# トップへ戻るボタン
    .col.text-right
      = link_to root_path  do
        TOP
    -# .alert.alert-secondary.mt-4
    %h1.display-4.mb-4
      お問い合わせフォーム
    %p
      以下のフォームに必要事項をご記入の上、「送信」をクリックしてください。
      %br/
      *のついている項目は必須項目です。
.container
  %iframe{frameborder: "0", height: "673", marginheight: "0", marginwidth: "0", src: "https://docs.google.com/forms/d/e/1FAIpQLSearwtyCemNgRKpRycYEz4XG9ifwE4OJE9ArfYrmxxO1gPQnw/viewform?embedded=true", width: "100%"} 読み込んでいます…
