.jumbotron.jumbotron-fluid.p-4
  .container
    .col.text-right
      = link_to '戻る', 'javascript:history.back()'
    .h3.pass_notice.text-center.pt-4
      プロフィール閲覧にはパスワード入力が必要です。
  

.form-group.d-flex.justify-content-center
  = form_with url: users_show_path(id: params[:profile_id]), class: "form-group",local: true do |f|
    .form-group.row
      %label.col-form-label{for: "pass-text"} password:
      -#仮でプロフィールのphoneにしてあります,パスワードカラム作成プロフィール登録にパスワード項目の追加が必要です。
      = f.text_field :phone, id: "pass-text", class: "form-control input-lg "
    .form_submit.text-center
      = f.submit "Send", class: "btn btn-primary"
