.main_management_link
  .main_management_link__title
    管理画面へのリンク
  .main_management_link__top
    = link_to select_profiles_path do
      Top管理画面
  .main_management_link__four
    = link_to priority_store_profiles_path do
      4つの管理画面