#PhotoGallery
  .PhotoGallery__title
    %h1 Photo Gallery
  %ul.PhotoGallery__list
    - @images.each_with_index do |img|
      %li.picture-box
        = link_to "#{img.src.url}", class: 'fancybox' do
          = image_tag img.src.url, class: 'picture', alt: ''