

.intro
  .intro-main
    .plan-text
      プランのご紹介
    .free-plan
      .plan
        無料会員コース
      .amount
        月額料金：無料
      .explanation
        %ul
          .explanation-title
            コースの説明
          %li
            人物プロフィールを作成できます。
          %li
            プロフィールを閲覧できます。

    .paid-plan
      .plan
        有料会員コース
      .amount
        月額料金：1000円（税抜き）
        .amount-explanation1
          毎月1日に料金が引き落とされます。
        .amount-explanation1
          また、登録日により、日割りで料金が発生します。
      .explanation
        %ul
          .explanation-title
            コースの説明
          %li
            人物プロフィールを作成できます。
          %li
            プロフィールを閲覧できます。
          %li
            店舗、商品、サービス、イベントプロフィールを作成できます。
    .withdrawal
      退会する場合、日割りで返金があります。
    .aaa
      相談して、新たに文面を予定

