
.alert.alert-secondary.mt-4
  %h1 ニックネームさんのMy Profile情報入力画面

%label.mt-3.mb-4(for="") ---プロフィール---

.form-group
  %label(for="") メイン写真を設定する
  %input.form-control-file(type="file")/
.form-group
  %label(for="") サブ写真を設定する
  %input.form-control-file(type="file")/
.form-group
  -# ↓これって何に対するキャッチコピー？
  %label(for="") キャッチコピー
  %input.form-control(type="text")/
.form-group
  %label(for="") 名字
  %input.form-control(type="text")/
.form-group
  %label(for="") 名前
  %input.form-control(type="text")/
.form-group
  %label(for="") 名字（ふりがな）
  %input.form-control(type="text")/
.form-group
  %label(for="") 名前（ふりがな）
  %input.form-control(type="text")/
.form-group
  %label(for="") 郵便番号 ※半角数字のみ（ハイフンなし）
  -# 半角数字のみ（ハイフンなし）
  %input.form-control(type="text" pattern="^[0-9]+$")/
.form-group
  -# アクティブハッシュ予定
  %label(for="") 都道府県
  %select.form-control(name="prefecture")
    %option(value="")-
    %option(value="北海道")北海道
    %option(value="青森県")青森県
    %option(value="岩手県")岩手県
.form-group
  %label(for="") 出身地
  %input.form-control(type="text")/
.form-group
  %label(for="") 電話番号 ※半角数字のみ（ハイフンなし）
  %input.form-control(type="text" pattern="^[0-9]+$")/
.form-group
  %label(for="") 生年月日
  %input.form-control(type="date" name="calendar" max="9999-12-31" value="1990-01-01")/
.form-group
  %label(for="") 小学校
  %input.form-control(type="text")/
.form-group
  %label(for="") 中学校
  %input.form-control(type="text")/
.form-group
  %label(for="") 高校
  %input.form-control(type="text")/
.form-group
  %label(for="") 大学
  %input.form-control(type="text")/
.form-group
  %label(for="") 大学院
  %input.form-control(type="text")/
.form-group
  %label(for="") 専門学校
  %input.form-control(type="text")/
.form-group
  %label(for="") その他学歴
  %input.form-control(type="text")/
.form-group
  %label(for="") 職歴１
  %input.form-control(type="text")/
.form-group
  %label(for="") 職歴２
  %input.form-control(type="text")/
.form-group
  %label(for="") 職歴３
  %input.form-control(type="text")/
.form-group
  %label(for="") 職歴４
  %input.form-control(type="text")/
.form-group
  %label(for="") 職歴５
  %input.form-control(type="text")/
.form-group
  %label(for="") メールアドレス
  %input.form-control(type="email")/
.form-group
  %label(for="") FacebookのURL
  %input.form-control(type="url")/
.form-group
  %label(for="") TwitterのURL
  %input.form-control(type="url")/
.form-group
  %label(for="") ホームページのURL
  %input.form-control(type="url")/

%label.mt-3.mb-4(for="") ---自己紹介---

.form-group
  %label(for="") タイトル
  %input.form-control(type="text")/
.form-group
  %label(for="") キャッチコピー
  %input.form-control(type="text")/
.form-group
  %label(for="") 紹介文
  %textarea.form-control(name="introduction" cols="30" rows="5" maxlength="500" placeholder="500文字まで")
.form-group
  %label(for="") アバター写真
  %input.form-control-file(type="file")/
.form-group
  %label(for="") 写真についての説明文
  %textarea.form-control(name="introduction" cols="30" rows="5" maxlength="500" placeholder="500文字まで")

%button.btn.btn-primary.mt-3.mb-4 自己紹介を追加する

.form-group
  %label(for="") タグ
  %input.form-control(type="text")/