.jumbotron.jumbotron-fluid.p-4
  .container
    .col.text-right
      = link_to '戻る', :back
    .h3.text-center
      利用規約
.h5.rule
  MyStory（以下「当社」といいます）の製品およびサービスをご利用いただきありがとうございます。
  本規約は、当社が提供する全てのサービス（以下「本サービス」といいます）の利用条件を定めるものであり、本サービスを利用する全てのお客様に適用されます。以下を注意してお読みください。
  .h3.mt-5
    1. 本規約への同意
  .mt-3
    お客様は、本サービスを利用することにより、本規約に同意したことになります。本規約に同意しないお客様は、本サービスを利用しないでください。
  .h3.mt-5
    2. 改定
  .mt-3  
    当社は、必要に応じて本規約または追加規定を改定することができるものとします。本規約の改定はこのページに表示します。追加規定の改定は該当する本サービス内において表示します。本規約または追加規定の改定後にお客様が対象となる本サービスを利用された場合、当該改定は当社とお客様との間の契約の一部となります。改定に同意しないお客様は、本サービスの利用を中止してください。
  .h3.mt-5
    3. サービスの変更・終了
  .mt-3  
    当社は、お客様にあらかじめ通知することなく、いつでも、本サービスの内容や仕様を変更したり、本サービスを一時停止または終了したりすることができます。
  .h3.mt-5
    4. サービスの利用制限
  .mt-3 
    お客様が未成年である場合、事前に法定代理人の同意を得て利用しなければなりません。当社は、法定代理人に対して、同意の有無を確認する場合がございます。
  .mt-3 
    また、当社は、反社会的勢力の構成員（過去に構成員であった方を含みます）およびその関係者の方や、サービスを悪用したり、第三者に迷惑をかけたりするようなお客様に対してはご利用をお断りしています。
  .h3.mt-5
    5. アカウント
  .mt-3 
    本サービスを利用するためにアカウントが必要になる場合があります。アカウントは、お客様自身で作成してください。
  .mt-3 
    アカウントを作成していただく場合、（1）真実かつ正確な情報を登録していただくこと、（2）登録内容が最新となるようお客様ご自身で適宜修正していただくことがお客様の義務となります。
  .mt-3 
    アカウントを保護するため、パスワードは他人に知らせないでください。アカウントを通じて行われた行為の責任はお客様自身にあります。当社は、アカウントを通じて行われた行為をお客様自身の行為とみなすことができます。
  .h3.mt-5
    6. お客様のデータおよびコンテンツの取扱い
  .mt-3 
    当社は、お客様のデータについてバックアップを行う義務を負いません。必要なバックアップはお客様ご自身で行ってください。
  .mt-3 
    お客様が本サービスに提供したコンテンツ（文章、写真、ポートフォリオ等を含みますが、これらに限られません。以下同じ）に対する権利はお客様に帰属します。ただし、当社がお客様に代わって作成したコンテンツに対する権利は当社に帰属します。
  .mt-3   
    お客様は、当社または当社のビジネスパートナーが、不特定または多数のお客様がアクセスできる設定で投稿されたコンテンツを、無償で、地域、回数および期間の制限なく、利用（複製、上映、公衆送信、展示、頒布、譲渡、貸与、翻訳、翻案、出版を含みます）することを、非独占的に許諾し、そのような利用について異議を述べないものとします。
  .h3.mt-5
    7. 禁止事項
  .mt-3   
    本サービスのご利用に際しては、以下に定める行為（それらを誘発する行為や準備行為も含みます）を禁止します。
  .mt-3   
    法令、本規約または追加規定に違反する行為
  .mt-3   
    公序良俗に反する行為
  .mt-3   
    当社または第三者の権利を侵害する行為
  .mt-3   
    他のお客様に対する嫌がらせ、誹謗中傷、ネットストーキング、差別の助長、その他、他のお客様の迷惑となる行為
  .mt-3   
    営業、宣伝、広告、勧誘、会員の募集など営利を目的とする行為（当社の認めたものを除きます）、面識のない異性との出会いや交際を目的とする行為、宗教の勧誘を目的とする行為、その他、本来予定している目的とは異なる目的で本サービスを利用する行為
  .mt-3     
    当社または第三者のソフトウェア、ハードウェア、サーバまたはネットワークの機能を破壊したり、妨害したりする行為
  .mt-3     
    他のお客様の個人情報、登録情報、利用履歴などを無断で収集したり、収集した情報を第三者に開示しまたは本サービス以外での採用活動、ヘッドハンティングもしくは営業行為に利用したりする行為
  .mt-3     
    知り合いではない他のお客様に対し、本サービス上で無差別につながりを要求する行為
  .mt-3   
    他のお客様のアカウントを使用して本サービスを利用する行為
  .mt-3   
    自己のアカウントを第三者に譲渡または貸与したり、自己のアカウントのパスワードを第三者に開示したりする行為
  .mt-3   
    本サービスに含まれるソフトウェアのソースコードのリバースエンジニアリングや抽出を試みる行為
  .mt-3   
    本サービスを利用して、反社会的勢力に直接・間接に利益を提供する行為
  .mt-3   
    ボット等の自動化プログラムを用いることによって、本サービスを不正に操作したり、他のお客様の自主的かつ合理的な選択を妨げたりする行為。
  .h3.mt-5
    8. 違反等に対する措置
  .mt-3     
    以下の場合、当社は、事前に通知することなく、お客様のデータ、コンテンツ、アカウントを削除したり、お客様へのサービス提供を停止したりすることができるものとします。また、お客様が複数のアカウントを登録されている場合には、すべてのアカウントに対して同様の措置がとられることがあります。
  .mt-3     
    お客様が本規約または適用ある追加規定に違反した場合、もしくはそのおそれがあると当社が判断した場合
  .mt-3   
    当社にお支払いいただく代金について支払の遅滞が生じた場合、または代金決済手段として指定されたクレジットカードや銀行口座の利用が停止された場合
  .mt-3   
    お客様について、破産、民事再生、会社更生、特別清算、その他の倒産手続の申立てなど、お客様の信用不安が発生したと当社が判断した場合
  .mt-3   
    アカウントが反社会的勢力またはその構成員や関係者によって登録または使用された場合、もしくはそのおそれがあると当社が判断した場合
  .mt-3   
    お客様が１年以上アカウントを使用していない場合
  .mt-3   
    その他、お客様との信頼関係が失われた場合など、当社とお客様との契約関係の継続が困難であると当社が判断した場合
  .h3.mt-5
    9. 当社に対する補償
  .mt-3  
    お客様の行為が原因で生じたクレームなどにより、当社に損害（弁護士費用その他の費用負担や賠償金の支払いを含みます）が発生した場合、お客様は当社の損害を補償するものとします。
  .h3.mt-5
    10. 非保証
  .mt-3  
    本サービスは「現状有姿で」提供されます。本規約または追加規定に明示されている場合を除き、当社は、本サービスにエラーやバグ、誤り、不具合、中断、その他の瑕疵（かし）や権利侵害がないこと、また、本サービスの信頼性、正確性、完全性、特定の目的への適合性、有用性やセキュリティについて、一切の保証を行いません。
  .mt-3   
    本サービスは、お客様のマッチングや雇用の成立を保証するものではありません。
  .h3.mt-5
    11. 免責
  .mt-3 
    本サービスに関する当社の責任は、当社の故意または重過失によらない場合には免除されるものとします。また、当社は、現実に発生した直接かつ通常の範囲内の損害（逸失利益、間接損害、特別損害、懲罰的損害を含みません）に限り、かつ、有料サービスにおいては代金額（継続的なサービスの場合は6か月分相当額）を上限として損害賠償責任を負うことのほか、一切の責任を負わないものとします。上記の免責が消費者契約法その他の適用法令により無効とされる場合であっても、当社は、適用法令が許容する最大限の免責を受けるものとします。
  .mt-3   
    当社は、本サービスの利用に関して、お客様と、他のお客様、募集主、候補者、その他の第三者との間で生じたトラブル、取引、紛争等について、一切責任を負いません。
  .mt-3 
    本サービスは、当社と提携する他の事業者が提供するサービスまたはコンテンツを含む場合があります。これらのサービスまたはコンテンツに対する責任は、これを提供する事業者が負います。また、これらのサービスまたはコンテンツには、これらを提供する事業者が定める利用規約その他の条件が適用されることがあります。
  .h3.mt-5
    12. 利用料
  .mt-3 
    お客様は、本サービスのうち有償のサービスについて、所定の利用料を、当社所定の期限までに、当社所定の方法で支払うものとします。支払いに関する手数料は、お客様にてご負担いただきます。
  .mt-3 
    当社は、お客様のお支払いに際して、領収書の発行は行いません。お支払い時のご利用明細を領収書の代わりにご利用ください。
  .mt-3 
    期限までに利用料をお支払いいただけない場合、当社は、期限の翌日から支払済みに至るまでの期間について年14.6%の遅延損害金を請求できるものとします。
  .mt-3 
    本サービスの有償契約をご利用されるお客様が本サービス所定の利用料の支払いを１回でも滞った場合または本規約1.9に定める事由に該当した場合、当社はお客様に事前に通知することにより、お客様の本サービスの利用に関する一切の債務について期限の利益を失わせることができるものとし、お客様はかかる通知を受領した場合、期限の利益を喪失した債務の全額を直ちに弁済するものとします。
  .mt-3 
    当社は、法令に基づき回収し、税務当局に対して支払わなければならない税金（消費税を含みますが、これに限られません）を、その時々において適用される税率または税額に応じて、利用料に加えて徴収することができます。
  .mt-3 
    当社は、お客様から利用申込に際して通知された住所地をもって消費税の内外判定を行うものとし、通知され住所地の誤りにより消費税の徴収に問題が発生した場合、お客様がその責任を負うものとします。
  .h3.mt-5
    13. 譲渡禁止
  .mt-3 
    お客様は、当社との契約より生じる権利義務を、当社の承諾なく第三者に譲渡することはできません。
  .h3.mt-5
    14. 連絡
  .mt-3 
    本サービスに関するお客様から当社への連絡は、当社が運営するウェブサイト内の適宜の場所に設置するお問い合わせフォームの送信または当社が指定する方法により行っていただきます。
  .mt-3 
    本サービスに関する当社からお客様への連絡は、当社が運営するウェブサイト内の適宜の場所への掲示その他、当社が適当と判断する方法により行ないます。
  .mt-3 
    お客様は、当社が、当社または当社のビジネスパートナーに関する広告または宣伝等を、お客様が登録したメールアドレス宛に送信する可能性があることに同意のうえ、本サービスを利用するものとします。
  .h3.mt-5
    15. プライバシーポリシー
  .mt-3
    当社は、お客様から取得した情報（個人情報を含みます）を、当社プライバシーポリシーにしたがって取り扱います。お客様が本サービスをご利用になる際には、事前にプライバシーポリシーを熟読していただき、すべての内容について同意したうえで利用するものとします。
  .h3.mt-5
    16. 通信の秘密
  .mt-3
    当社は、お客様の通信の秘密を守って、お客様の通信内容や通信履歴を取扱います。なお、当社は、お客様の同意を得た場合や法令により強制または許容される場合に、お客様の通信内容や通信履歴を閲覧し、捜査機関等の第三者に開⽰し、または削除することがあります。
  .h3.mt-5
    17.反社会的勢力に該当しないこと
  .mt-3
    当社とお客様とは、相手方に対し、自己およびその代表者、役員、その他、実質的に経営を有する者が、現在、暴力団、暴力団員、暴力団準構成員、暴力団関係企業、総会屋、社会運動標ぼうゴロ、政治活動標ぼうゴロ、特殊知能暴力集団、これらの者と密接な関係を有する者またはこれらに準じる者のいずれにも該当しないことを表明し、かつ、将来にわたっても該当しないことを確約するものとします。
  .mt-3  
    当社およびお客様は、相手方が上記の表明または確約に違反した場合、何ら催告することなしに直ちに本サービスの利用および本サービスに関連する契約を解除することができるものとします。
  .h3.mt-5
    18. 準拠法・管轄合意
  .mt-3  
    当社とお客様との契約関係は、日本法を準拠法とします。本サービスに関連して当社とお客様との間で生じた紛争については東京地方裁判所を第一審の専属的合意管轄裁判所とします。
  .mt-5
    以上