.comment_select {
  text-align: center;
}


.checked_comment {
  width: 50vw;
  line-height: 50px;
  border-bottom: 1px solid #8f8d8df3;
  font-size: 20px;
  word-wrap: break-word;
  margin: 0 auto;
}
.release_btn {
  width: 50vw;
  margin-bottom: 50px;
}

