.credit-update {
  width: 85%;
  margin: 0 auto;
  background: #e9ecef;
  .credit-update__label {
    text-align: center;
    padding: 32px 16px;
    border-bottom: 1px solid #eee;
    font-size: 20px;
    font-weight: bold;
  }
  .card-form {
    max-width: 375px;
    padding-top: 30px;
    margin: 0 auto;
    &__box__number {
      font-weight: bold;
      .input-require {
        background: red;
        color: white;
        padding: 1px 3px;
      }
      .card-number--input {
        display: block;
        width: 100%;
        height: 40px;
        margin-left: 0;
        margin-top: 16px;
      }
      .card-list {
        display: flex;
        margin-top: 16px;
        .card-list--item {
          list-style: none;
          padding: 0 5px;
        }
      }
    }
  }
  .card-form__box__expire {
    font-weight: bold;
    margin-top: 16px;
    .input-require {
      background: red;
      color: white;
      padding: 1px 3px;
    }
    .card-expire {
      display: flex;
      justify-content: space-between;
      margin-top: 16px;
    }
  }
  .card-form__box__security-code {
    font-weight: bold;
    margin-top: 16px;
    .input-require {
      background: red;
      color: white;
      padding: 1px 3px;
    }
    .payment__security-code {
      display: block;
      margin-top: 16px;
      height: 40px;
      width: 70%;
    }
  }
  .card-form__box__add {
    margin: 16px 0 50px 0;
    width: 100%;
    height: 40px;
    background: red;
    color: white;
    border-style: none;
    border-radius: 3px;
  }
  button {
    margin: 20px auto;
    width: 50%;
    padding: 10px 0;
    background: red;
    border-radius: 3px;
    color: white;
    border-style: none;
  }
}