.intro {
  width: 100%;
  height: 100%;
  // background-color: blue;
}

.intro-main {
  width: 100%;
  height: 100%;
  margin: auto;
  // background-color: black;
}

.plan-text {
  width: 50%;
  margin: 10px auto;
  text-align: center;
  font-size: 30px;
}

.free-plan {
  margin: 0 auto;
  // background-color: chartreuse;
}

.free-plan {
  border: double 1px black;
  width: 50%;
  margin: 20px auto;
  padding: 10px;
  text-align: center;
  // background-color: coral;
}

.paid-plan {
  border: double 1px black;
  width: 50%;
  margin: 20px auto;
  padding: 10px;
  text-align: center;
  // background-color: coral;
}

.plan {
  font-size: 30px;
  margin: 10px;
}

.amount {
  font-size: 20px;
  margin: 10px;
}

.amount-explanation1 {
  font-size: 15px;
}

.explanation {
  font-size: 20px;
  margin: 10px;
}

.explanation-title {
  font-size: 20px;
}

li{
  font-size: 15px;
}

.withdrawal {
  text-align: center;
}