#PhotoGallery {
  margin: 2rem;
  box-shadow: 0 2px 5px rgba(0,0,0,0.26);
  .PhotoGallery__title{
    text-align: center;
    padding: 2rem 0;
  }
  .PhotoGallery__list {
    padding: 0 1rem 1rem;
    .picture-box {
      width: 180px; 
      margin:4px;
      box-sizing: border-box; 
      overflow:hidden;
    }
  }
  .picture {
    max-width: 180px;
  }
}


// .centered { 
//   margin: 0 auto; 
// }
// #container{
//   border:1px solid #dadada;
// }
// .box {
//   margin: 5px;
//   padding: 5px;
//   background: #D8D5D2;
//   float: left;
//   height: 300px;
// }
// .col2 { width: 180px; }
// .col4 { width: 380px; }