  h2 {
    margin: 20px 30px;
    letter-spacing: 2px;
    font-size: 30px;
    &:after {
      content: "";
      display: block;
      width: 370px;
      border-bottom: 3px solid #5df038;
    }
    form {
      margin: 20px 30px;
      height:240px ;
      width:300px ;
      input#user_email{
      width:300px ;
      }
      input{
        margin-bottom: 30px;
        letter-spacing: 2px;
        font-size: 20px;
      }
    }
    .Button {
      display: flex;
      justify-content: space-around;
      margin: 10px 30px;
      margin-top: 40px;
      color: #fff;
      background-color: #ccc;
    }
  }
  .AccountPage__form {
    width: 50%;
  }

.FormField {
  margin-bottom: 10px;
  &__label--normal {
    padding: 10px 0;
    letter-spacing: 1px;
    font-size: 15px;
    font-weight: 200;
    i {
      font-size: 13px;
    }
    label {
      font-size: 18px;
    }
    .field_with_errors {
      display: inline-block;
      color: #d65f4c;
      font-weight: 400;
    }
  }
  &__input--normal {
    input {
      box-sizing: border-box;
      width: 100%;
      padding: 10px;
      letter-spacing: 1px;
    }
    .field_with_errors {
      position: relative;

      &:after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: 5px;
        background-color: #d65f4c;
      }
    }
  }
}

.Button {
  display: inline-block;
  height: 70px;
  padding: 0 30px;
  line-height: 70px;
  letter-spacing: 4px;
  text-align: center;
  border: none;
  border-radius: 2px;
  text-decoration: none;
}

.UserButton {
  margin-top: 20px;
  color: #fff;
  background-color: #38aef0;
}

#error_explanation {
  margin: 20px 0;
  padding: 20px 30px;
  border: 1px solid #ddd;
  border-radius: 2px;

  h2 {
    margin-bottom: 10px;
    color: #d65f4c;
    font-size: 14px;
  }

  ul {
    margin: 0;
    padding-left: 17px;
    list-style: square;
  }

  li {
    margin: 0;
    padding: 0;
    font-size: 13px;
  }
}
