.main-container {
  .left-column {
    padding: 1rem;
  }
  .center-column {
    padding: 1rem;
    border-right: 1px solid lightgray;
    border-left: 1px solid lightgray;
    .wrap-content {
      height: 500px;
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-content: space-between;
      margin-bottom: 1rem;
      .learge-content {
        height: 100%;
        width: 100%;
        box-shadow: 0 2px 5px rgba(0,0,0,0.26);
      }
      .middle-content {
        height: 48%;
        width: 48%;
        box-shadow: 0 2px 5px rgba(0,0,0,0.26);
      }
      .small-content {
        height: 48%;
        width: 24%;
        box-shadow: 0 2px 5px rgba(0,0,0,0.26);
      }
    }

  }
  .right-column {
    padding: 1rem;
  }
}