.select_users {
  max-width: 80%;
  margin: 0 auto;
  .top_candidate {
    border-top: 1px solid #d3d2d2f3;
  }
  .middle_candidate {
    border-top: 1px solid #d3d2d2f3;
  }
  .bottom_candidate {
    border-top: 1px solid #d3d2d2f3;
  }
  .btn_all {
    border-top: 1px solid #d3d2d2f3;
  }
}