.TopPage {
  max-width: 1200px;
  margin: 0 auto;
  color: grey;
  &__container {
    margin-right: 0;
    margin-left: 0;
    &__left {
      color: gray;
      padding: 1rem;
      .wrap-content {
        margin-bottom: 1rem;
        padding: 1rem 0;
      }
      .card {
        color: gray;
      }
    }

    &__right {
      text-align: center;
      .promotions {
        padding: 1rem;
        .promotion {
          margin-bottom: 1rem;
          .pr-image {
            width: 100%;
            object-fit: contain;
          }
        }
      }
      .rankings {
        padding: 1rem;
        .ranking {
          padding: 0.5rem;
          margin: 0 auto 1rem;
          display: flex;
          flex-direction: row;
          align-items: center;
          color: gray;
          img {
            margin-right: 0.5rem;
          }
        }
      }
      .new-arrivals {
        padding: 1rem;
        .new-arrival{
          padding: 0.5rem;
          margin: 0 auto 1rem;
          display: flex;
          flex-direction: row;
          align-items: center;
          color: gray;
          img {
            margin-right: 0.5rem;
          }
        }
      }
    }
    a, a:visited, a:focus, a:hover {
      text-decoration: none;
    }
  }

}

