.TopPage {
  max-width: 1200px;
  margin: 0 auto;
  color: grey;
  &--container {
    margin-right: 0;
    margin-left: 0;
    &__left {
      padding: 1rem;
      // border-right: 1px solid lightgray;
      // border-left: 1px solid lightgray;
      .swiper-container {
        max-height: 480px;
        .swiper-slide {
          position: relative;
          .swiper-slide-content {
            height: 100%;
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
            transition: all 2s ease 1s;
            .caption {
              position: absolute;
              left:0;
              background-color: rgba(0, 0, 0, 0.6);
              color:#fff;
              padding: 24px;
              height: 100%;
              width: 100%;
              .captionTitle {
                font-size: 20px;
                font-weight: bold;
                margin-bottom: 8px;
              }
              .captionByAt {
                color: lightgray;
                font-size: 14px;
                display: flex;
                .captionBy {
                  margin-right: 16px;
                }
              }
            }
            .caption:hover {
            color: #007bff;
            }
          }
        }
        
      }
      .wrap-content {
        margin-bottom: 1rem;
        padding: 1rem 0;
      }
    }

    &__right {
      text-align: center;
      // border-right: 1px solid lightgray;
      .promotions {
        margin-bottom: 3rem;
        padding: 1rem;
        .promotion {
          // height: 240px;
          width: 240px;
          box-shadow: 0 2px 5px rgba(0,0,0,0.26);
          margin: 0 auto 1rem;
          .pr-image {
            // height: 240px;
            width: 240px;
            object-fit: contain;
          }
        }
      }
      .rankings {
        margin-bottom: 3rem;
        padding: 1rem;
        .ranking {
          height: 4rem;
          width: 98%;
          background-color: azure;
          box-shadow: 0 2px 5px rgba(0,0,0,0.26);
          margin: 0 auto 1rem;
        }
      }
      .new-arrivals {
        padding: 1rem;
        .new-arrival{
          height: 4rem;
          width: 98%;
          background-color: azure;
          box-shadow: 0 2px 5px rgba(0,0,0,0.26);
          margin: 0 auto 1rem;
        }
      }
    }
  }
  .ObjectFit {
    // height: 480px;
    object-fit: cover;
  }
}