
@media (min-width: 980px){
  .header {
    max-width: 1200px;
    margin: 0 auto;
  }
  .title {
    font-size: 50px;
  }
  .notice {
    margin: auto 10px;
    position: relative;
  }
  
  img.mobile_message {
    display: none;
  }
  .notice_count {
    position: absolute;
    top: -10px;
    right: -10px;
    text-align: center;
    background-color: red;
    color: white;
    width: 20px;
    border-radius: 10px;
  }
  .nav_menu_li {
    display: none;
  }
  
  a {
    color: black;
  }
  img.top_image {
    width: 100vw;
    height: 600px;
    object-fit: cover;
  }
  .slick-dots {
    li {
      font-size: 20px !important;
      button:before {
        content: "●" !important;
        font-size: 14px !important;
        color: rgb(60, 60, 60) !important;
      }
    }
  }
  .text_area {
    width: 70%;
    
    background-color: white;
    margin: 0 auto;
  }
  .profile {
    width: 70%;
    background-color: white;
    margin: 0 auto;
    .introduction {
      width: 50vw;
      word-wrap: break-word;
    }
  }
  
  
  img.prof_image {
    width: 15%;
    
  }
  
  .mobile_btn {
    display: none;
  }
  .mobile_name {
    display: none!important;
  }
  .mobile_birth {
    display: none!important;
  }
  .mobile_img {
    display: none;
  }
  .mobile_text {
    display: none;
  }
  .comment_field {
    width: 70%;
    height: 700px;
    margin: 30px auto 0;
    background-color: white;
    overflow: scroll;
    word-wrap: break-word;
  }
  .comment_info {
    display: flex;
    border-top: 1px solid  #d3d2d2f3;
    padding: 20px 0 0 20px;
    .comment_name {
      padding-right: 20px;
      font-size: 20px;
      line-height: 20px;
    }
    .comment_date {
      font-size: 15px;
      
    }
    
  }
  .reply_btn {
    margin: 5px 0 20px 20px;
    height: 30px;
    line-height: 10px;
  }
  .comment_content {
    font-size: 20px;
    padding: 10px 20px 0 20px;
  }
  
  .comment_reply_info {
    display: flex;
    padding: 0 0 0 60px;
    .comment_reply_name {
      padding-right: 20px;
      font-size: 20px;
      line-height: 20px;
    }
    .comment_reply_date {
      font-size: 15px;
    }
  }
  .comment_reply_content {
    font-size: 20px;
    padding: 10px 20px 10px 60px;
  }
}





@media (max-width: 979px){
  .title {
    font-size: 40px;
  }
  
  .top_page {
    display: none;
  }
  .log_out {
    display: none;
  }
  .nav {
    width: 100vw;
    height: 48px;
    background-color: white;
    margin-top: 7px;
    overflow-x: scroll;
    white-space: nowrap;
  }
  .notice {
    display: none;
  }
  .notice_count {
    display: none;
  }
  .mobile_notice {
    margin: auto 10px;
    position: relative;
  }
  .mobile_notice_count {
    position: absolute;
    top: 0px;
    right: 0px;
    text-align: center;
    background-color: red;
    color: white;
    width: 20px;
    border-radius: 10px;
  }
  img.message {
    display: none;
  }
  img.mobile_message {
    padding-right: 15px;
  }
  a {
    color: black;
  }
  img.top_image {
    width: 100vw;
    height: 300px;
    object-fit: cover;
  }
  .slick-dots {
    li {
      font-size: 20px !important;
      button:before {
        content: "●" !important;
        font-size: 14px !important;
        color: rgb(60, 60, 60) !important;
      }
    }
  }
  .new_profile_page {
    display: none;
  }
  .edit_profile_page {
    display: none;
  }
  .search {
    display: none;
  }
  .qr_code {
    display: none;
  }
  .nav_toggle {
    display: block;
    position: relative;
    width: 25px;
    height: 25px;
    margin: 20px 20px 0 0;
  }
  .nav_toggle i {
    display: block;
    width: 100%;
    height: 2px;
    background-color: #333;
    position: absolute;
    transition: transform .5s, opacity .5s;
  }
  .nav_toggle i:nth-child(1) {
    top: 0;
  }
  .nav_toggle i:nth-child(2) {
    top: 0;
    bottom: 0;
    margin: auto;
  }
  .nav_toggle i:nth-child(3) {
    bottom: 0;
  }

  .nav_toggle.show i:nth-child(1) {
    transform: translateY(10px) rotate(-45deg);
  }
  .nav_toggle.show i:nth-child(2) {
    opacity: 0;
  }
  .nav_toggle.show i:nth-child(3) {
    transform: translateY(-12px) rotate(45deg);
  }

  nav {
    position: absolute;
    top: 70px;
    right: 0;
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s, visibility .5s;
  }
  .nav.show {
    opacity: 1;
    visibility: visible;
    
  }
  .nav_menu_li {
    list-style: none;
    
  }
  .text_area {
    width: 70%;
    
    margin: 0 auto;
    background-color: white;
  }
  .profile {
    display: none;
  }
  .mobile_profile {
    z-index: 1;
    width: 100%;
    background-color: white;
    text-align: center;
    position: absolute;
    right: 0;
    top: 110px;
    opacity: 0;
    animation: slideOut .5s;
    visibility: collapse;
  }
  .mobile_profile.slide {
    animation: slide .5s;
    opacity: 1;
  }
  @keyframes slide {
    0% {
      opacity: 0;
      transform: translateX(100vw);
    }
    100% {
      opacity: 1;
      transform: translateX(0px);
    }
  }
  @keyframes slideOut {
    0% {
      opacity: 1;
      transform: translateX(0);
    }
    100% {
      opacity: 0;
      transform: translateX(100vw);
    }
  }
  .mobile_btn {
    height: 30px;
  }
  .comment_field {
    width: 90%;
    height: 700px;
    margin: 30px auto 0;
    background-color: white;
    overflow: scroll;
    word-wrap: break-word;
  }
  .comment_info {
    display: flex;
    border-top: 1px solid  #d3d2d2f3;
    padding: 10px 0 0 20px;
    .comment_name {
      padding-right: 20px;
      font-size: 15px;
      line-height: 12px;
      font-weight: 300;
    }
    .comment_date {
      font-size: 9px;
      font-weight: 300;
    }
    
  }
  .reply_btn {
    margin-left: 20px;
    margin-bottom: 10px;
    height: 20px;
    line-height: 8px;
  }
  .comment_content {
    font-size: 18px;
    padding: 10px 20px 10px 20px;
    font-weight: 300;
  }
  
  .comment_reply_info {
    display: flex;
    padding: 10px 0 0 60px;
    .comment_reply_name {
      padding-right: 20px;
      font-size: 15px;
      line-height: 13px;
      font-weight: 300;
    }
    .comment_reply_date {
      font-size: 9px;
      font-weight: 300;
    }
  }
  .comment_reply_content {
    font-size: 18px;
    padding: 10px 20px 10px 60px;
    font-weight: 300;
  }
}

.privacy {
  width: 70%;
  margin: 0 auto;
}
.rule {
  width: 70%;
  margin: 0 auto;
}

.AccountPage {
  width: 980px;
  margin: 60px auto;
  padding: 60px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
}
.AccountPage__title {
  width: 50%;
  font-size: 20px;
  font-weight: 200;
  h2 {
    margin-bottom: 10px;
    letter-spacing: 2px;
    font-size: 40px;
    &:after {
      content: "";
      display: block;
      width: 370px;
      margin-top: 20px;
      border-bottom: 3px solid #38aef0;
    }
  }

  .Button {
    margin-top: 40px;
    color: #fff;
    background-color: #ccc;
  }
}

.AccountPage__form {
  width: 50%;
}

.FormField {
  margin-bottom: 10px;
  &__label--normal {
    padding: 10px 0;
    letter-spacing: 1px;
    font-size: 15px;
    font-weight: 200;
    i {
      font-size: 13px;
    }
    label {
      font-size: 18px;
    }
    .field_with_errors {
      display: inline-block;
      color: #d65f4c;
      font-weight: 400;
    }
  }
  &__input--normal {
    input {
      box-sizing: border-box;
      width: 100%;
      padding: 10px;
      letter-spacing: 1px;
    }
    .field_with_errors {
      position: relative;

      &:after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: 5px;
        background-color: #d65f4c;
      }
    }
  }
}

.Button {
  display: inline-block;
  height: 70px;
  padding: 0 30px;
  line-height: 70px;
  letter-spacing: 4px;
  text-align: center;
  border: none;
  border-radius: 2px;
  text-decoration: none;
}

.UserButton {
  margin-top: 20px;
  color: #fff;
  background-color: #38aef0;
}

#error_explanation {
  margin: 20px 0;
  padding: 20px 30px;
  border: 1px solid #ddd;
  border-radius: 2px;

  h2 {
    margin-bottom: 10px;
    color: #d65f4c;
    font-size: 14px;
  }

  ul {
    margin: 0;
    padding-left: 17px;
    list-style: square;
  }

  li {
    margin: 0;
    padding: 0;
    font-size: 13px;
  }
}

.Header{
  color:black;
  display: flex;
  align-items: center;
  background-color: #ddd;
  height: 100px;
  width: 100%;
  position: static;
  top:10px;
  &__title{
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin:0px 20px;
    padding:0px 20px;
    h1 {
      font-size:40px;
    }
    h5 {
      padding:0px 30px;
    }
    a{
      color: black;
      text-decoration: none;
      margin:10px 70px;
    }
    a.Button {
      padding:0px 30px;
      color: #fff;
    }
    a:hover {
      color: #FFFF00;
    }
  }  
} 

.Footer{
  height:100px;
  width: 100%;
  position: static;
  background-color: #ddd;
  text-align: center;
  padding: 30px, 0;
  bottom: 0; /*下に固定*/
  display: flex;
  justify-self:center;
  align-items: center;
  margin-bottom: 0;
.Copyright {
  width: 100%;
  height:60px;
  color: black;
  background-color:#ddd;
  padding: 8px;
  font-size: 20px;
  font-weight: bold;
  padding: 1rem;
  margin-bottom: 0; 
}
}