%footer.footer
  .site-logo.d-flex.flex-column
    = link_to root_path, class: "textColorWhite" do
      (ここにサイトロゴ topへのリンク)
    = link_to 'お問い合わせ', '/inquiry', class: 'small mt-2 text-light'
  .copyright
    Copyright © 2020 MyProfile, All Rights Reserved.